* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
@font-face {
    font-family: 'Poppins serif';
    src: url('../assets/fonts/Poppins-Bold.ttf');
}
$blue: #306EF7;    
$font: 'Poppins serif';

@mixin flexcenter($flex, $justify, $align) {
    display: $flex;
    justify-content: $justify;
    align-items: $align;
}
@mixin space-a($flex, $justify, $align) {
    display: $flex;
    justify-content: $justify;
    align-items: $align;
}
@mixin column($flex, $justify, $align, $direction) {
    display: $flex;
    justify-content: $justify;
    align-items: $align;
    flex-direction: $direction;
}
.header {
    height: 80px; max-width: 100%;
    background: black;
    @include flexcenter(flex, center, center);
    &__wrapper {
        height: 56px; 
        width: 100%;
        max-width: 1640px;
        &__content {
            height: 56px; width: 100%; max-width: 1640px;
            @include space-a(flex, space-between, center);
            &__menu {
                display: none;
            }
            &__logo {
                height: 50px; width: 196px;
                @include flexcenter (flex, center, center);
                flex-wrap: wrap;
                a {
                    color: white;
                    text-decoration: none;
                    font-family: 'Poppins serif';
                    font-size: 25px;
                    margin-left: 15px;
                }
                img {
                    margin-top: -5px;
                }
                .linka:hover {
                    color: #306EF7;
                }
            }
            &__links {
                height: 40px; width: 550px;
                @include space-a(flex, space-evenly, center);
                a {
                    color:#707070;
                    text-decoration: none;
                    font-family: 'Poppins serif';
                    font-size: 18px;
                }
                .linka:hover {
                    color: #306EF7;
                } 
            }
            &__login {
                height: 56px; width: 200px;
                @include space-a(flex, space-around, center);
                a {
                    color:#707070;
                    font-family: 'Poppins serif';
                    text-decoration: none;
                }
                img {
                    display: none;
                }
                .logina:nth-child(1):hover{
                    color: #306EF7;
                }
                &__button {
                    padding: 10px;
                    color: white;
                    background: $blue;
                    border: none;
                    border-radius: 6px;
                    a {
                        color: white;
                        text-decoration: none;  
                    }
                }
            }
        }
    }
}
.section {
    height: 91.7vh; width: 100%;
    background: black;
    &__wrapper {
        height: 91.7vh; width: 100%; max-width: 1958px;
        @include column(flex, space-evenly, center, column);
        &__text {
            height: 300px; width: 100%;
            text-align: center;
            @include column(flex, space-evenly, center, column);
            h1 {
                color: white;
                font-family: 'Poppins serif';
                font-size: 90px;
            }   
            h2 {
                background: linear-gradient(90deg, #FE6783 1.9%, #FFBF84 97.1%);
                -webkit-background-clip: text;
                -webkit-text-fill-color: transparent;
                font-size: 90px;
                font-family: 'Poppins serif';
                }
            }
            &__footer {
                height: 350px; width: 100%;
                @include column(flex, space-around, center, column);
                &__bottom {
                    height: 120px; width: 700px; max-width: 700px;
                    h3 {
                    font-family: 'Poppins serif';
                    color: white;
                    font-size: 35px;
                    text-align: center;
                    @include column(flex, space-around, center, column);
                }
            }
            &__button {
                height: 65px; width: 610px;
                @include space-a (flex, space-around, center);
                flex-wrap: wrap;
                margin-top: -20px;
                &__firstbutton {
                    padding: 25px 50px;
                    border: none;
                    border-radius: 6px;
                    background: #306EF7;
                    cursor: pointer;
                    a {
                        color: white;
                        text-decoration: none;
                        font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
                        font-size: 15px;
                    }
                }
                &__secondbutton {
                    padding: 25px 60px;
                    border: 1px solid #707070;
                    border-radius: 6px;
                    background: black;
                    cursor: pointer;
                    a {
                        color: #707070;
                        text-decoration: none;
                        font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
                        font-size: 15px;
                    }
                    .linka:hover {
                        color: white;
                    } 
                }
            }
        }
        &__endblock {
            height: 38px; width: 400px;
            margin-left: 20px;
            margin-top: -20px;
            @include flexcenter(flex, start, center);
            flex-wrap: wrap;
            span {
                font-family: 'Poppins serif';
                color: white;
            }
            p {
                color: #707070;
                font-family: 'Poppins serif';
                margin-left: 10px;
            }
        }
    }
}
@media screen and (max-width: 1120px) {
    .section__wrapper__text {
            width: 900px;
            // line-height: -20px;
            h1 {
                font-size: 70px;
            }
            h2 {
                font-size: 70px;
        }
    }
}
@media screen and (max-width: 920px) {
    .header__wrapper__content__logo {
        margin-left: 50px;
    }
    .section__wrapper__footer__bottom {
        font-size: 20px;
    }
    .header__wrapper__content__login__button {
        display: none;
        }
    .logina {
        display: none;
        }
        .header__wrapper__content__login img {
            display: block;
    }   
    .header__wrapper__content__links {
        display: none;
    }
    .header__wrapper__content__menu {
        margin-left: 20px;
        display: block;
    }
    .section__wrapper__text {
        width: 800px;
        h1 {
            font-size: 50px;
        }
        h2 {
            font-size: 60px;
            margin-top: -70px;
        }
    }
    .header__wrapper__content__login {
        width: 150px;
    }
}
@media screen and (max-width: 820px) {
    .section__wrapper__text {
        width: 800px;
        h1 {
            font-size: 50px;
        }
        h2 {
            font-size: 60px;
        }
    }
    .section__wrapper__footer__bottom {
        margin-top: -10%;
        h3 {
            font-size: 30px;
        }
    }
    .section__wrapper__footer__button {
        margin-top: -10%;
        display: flex;
        justify-content: space-evenly;
        button {
            width: 200px;
        }
    }
    .section__wrapper__endblock {
        margin-top: -8%;
    }
    .header__wrapper__content__login {
        width: 150px;
    }
    .section__wrapper__footer__button__firstbutton {
        padding: 25px 30px;
    }
}
@media screen and (max-width: 800px) {
    .section__wrapper__text {
        max-width: 700px;
        h1 {
            font-size: 40px;
        }
        h2 {
            font-size: 40px;
        }
    }
    .section__wrapper__footer {
        max-width: 700px;
    }
}
@media screen and (max-width: 816px) {
    .section__wrapper__text {
        width: 790px;
    }
}
@media screen and (max-width: 806px)  {
    .section__wrapper__text {
        width: 780px;
    }
}
@media screen and (max-width: 716px) {
    .section__wrapper__text {
        width: 100%;
    }
    .section__wrapper__footer__bottom {
        width: 100%;
    }
    .section__wrapper__footer__button {
        width: 100%;
    }
}
@media screen and (max-width: 700px) {
    .section__wrapper__text {
        max-width: 700px;
    }
    .section__wrapper__footer {
        max-width: 700px;
    }
}
@media screen and (max-width: 580px) {
    .section__wrapper__text {
        width: 550px;
    }
    .section__wrapper__footer__button {
        width: 550px;
    }
    .section__wrapper__footer__bottom {
        width: 550px;
    }
}
@media screen and (max-width: 560px) {
    .section__wrapper__footer__bottom {
        max-width: 700px;
    }
    .section__wrapper__text {
        max-width: 540px;
    }
    .section__wrapper__footer__button {
        max-width: 540px;
    }
    .section__wrapper__footer__bottom {
        max-width: 540px;
    }
}
@media screen and (max-width: 566px) {
    .section__wrapper__text {
        width: 100%;
        h1 {
            font-size: 35px;
        }
        h2 {
            font-size: 35px;
            margin-top: -70px;
        }
    }
    .section__wrapper__footer__bottom {
        width: 100%;
        h3 {
            font-size: 25px;
        }
    }
    .section__wrapper__footer__button {
        width: 100%;
    }
}
@media screen and (max-width: 440px) { 
    .header__wrapper__content__logo {
        img {
            display: none;
        }
    }
    .header__wrapper__content__login {
        width: 100px;
    }
}
@media screen and (max-width: 420px) {
    .section__wrapper__endblock {
        width: 90%;

    }
}
@media screen and (max-width: 415px) {
    .header__wrapper__content__logo {
        margin-left: 30px;
    }
    .section__wrapper__footer__button {
        .section__wrapper__footer__button__firstbutton {
            width: 160px;
            margin-bottom: 70px;
        }
        .section__wrapper__footer__button__secondbutton {
            width: 160px;
            margin-bottom: 70px;
        }
    }
    .section__wrapper__endblock {
        width: 80%;
        margin-left: 40px;
        img {
            margin-left: 90px;
        }
        span {
            font-size: 20px;
        }
    }
    .section__wrapper__text {
        h1 {
            font-size: 32px;
        }
        h2 {
            font-size: 32px;
        }
    }
    .section__wrapper__footer__bottom {
        h3 {
            font-size: 22px;
        }
    }
}
@media screen and (max-width: 400px) {
    .section__wrapper__endblock {
        width: 80%;
        font-size: 16px;
    }
    .header__wrapper__content__logo {
        a {
            margin-left: 30px;
        }
    }
}
@media screen and (max-width: 390px) {
    .header__wrapper__content__logo {
        a {
            margin-left: 0px;
        }
    }
}
@media screen and (max-width: 375px) {
    .header {
        width: 100%;
    }
    .section {
        width: 100%;
    }
    .section__wrapper__endblock {
        margin-left: 0px;
    }
    .section__wrapper__footer__bottom {
        h3 {
            font-size: 18px;
        }
    }
    .section__wrapper__text {
        h1 {
            font-size: 22px;
        }
        h2 {
            font-size: 22px;
            margin-bottom: 50px;
        }
    }
    .section__wrapper__footer__button {
        .section__wrapper__footer__button__firstbutton {
            width: 140px;
            margin-bottom: 70px;
        }
        .section__wrapper__footer__button__secondbutton {
            width: 140px;
            margin-bottom: 70px;
        }
    }
    .header__wrapper__content__login {
        margin-left: -10px;
    }
    .header__wrapper__content__logo {
        margin-left: 20px;
    }
}
@media screen and (max-width: 360px) {
    .header {
        width: 100%;
    }
    .section {
        width: 100%;
    }
}
.secondSection {
    height: 100vh; width: 100%;
    background: black;
    &__wrapper {
        height: 100vh; width: 100%;
        // background: red;
        @include column(flex, center, center, column);
        flex-wrap: wrap;
        &__text {
            color: white;
            font-family: 'Poppins serif';
            font-size: 50px;
            // padding-top: 50px;
        }
        &__threeblock {
            width: 100%;
            color: white;
            font-family: 'Poppins serif';
            font-size: 30px;
            flex-wrap: wrap;
            text-align: center;
            @include flexcenter(flex, space-around, center);
            margin-top: 70px;
            p {
                width: 350px;
                font-size: 15px;
                color: #707070;
            }
        }
    }
}
@media screen and (max-width: 1066px) {
    .secondSection__wrapper__threeblock {
        .thirdblock {
            margin-top: 50px;
        }
    }
}
@media screen and (max-width: 1124px) {
    .secondSection__wrapper__text {
        font-size: 35px;
    }
    .secondSection__wrapper__threeblock {
        font-size: 25px;
        p {
            font-size: 15px;
        }
    }
}
@media screen and (max-width: 1000px) {
    .secondSection__wrapper__threeblock {
        @include flexcenter(flex, space-around, center);
        .thirdblock {
            margin-top: 50px;
        }
    }
}
@media screen and (max-width: 721px) {
    .secondSection__wrapper__text {
        font-size: 30px;
    }
    .secondSection__wrapper__threeblock {
        @include column(flex, space-between, center, column);
        height: 350px;
        .secondblock {
            margin-top: 50px;
        }
    }
}

@media screen and (max-width: 690px) {
    .secondSection__wrapper__threeblock {
        @include flexcenter(flex, space-around, center);
    }
}
@media screen and (max-width: 683px) {
    .secondSection__wrapper__text {
        font-size: 25px;
    }
}
@media screen and (max-width: 520px) {
    .secondSection__wrapper__text {
        font-size: 20px;
    }
}
@media screen and (max-width: 466px) {
    .secondSection__wrapper__threeblock {
        // background: red;
        @include column(flex, space-between, center, column);
        height: 350px;
    }
}
@media screen and (max-width: 420px) {
    .secondSection__wrapper__text {
        font-size: 19px;
    }
}
@media screen and (max-width: 399px) {
    .secondSection__wrapper__text {
        font-size: 16px;
    }
}
@media screen and (max-width: 350px) {
    .secondSection__wrapper__threeblock {
        font-size: 18px;
        p {
            font-size: 12px;
        }
    }
}
@media screen and (max-width: 339px) {
    .secondSection__wrapper__text {
        font-size: 14px;
    }
}
.thirdSection {
    height: 100vh; width: 100%;
    background: black;
    &__content {
        height: 100vh; width: 100%;
        &__center {
            min-height: 200px; min-width: 400px;
            text-align: center;
            margin: auto;
            color: white;
            span {
                color: #3D82F2;
                font-size: 27px;
                font-family: 'Poppins serif';
            }
            h2 {
                color: white;
                font-size: 50px;
                font-family: 'Poppins serif';
            }
            p {
                color: #707070;
                font-family: 'Poppins serif';
                font-size: 20px;
            }
            button {
                padding: 20px 35px;
                background: transparent;
                border: 1px solid #707070;
                border-radius: 6px;
                margin-top: 20px;
                cursor: pointer;
            }
            a {
                text-decoration: none;
                color: #707070;
                font-family: 'Poppins serif';
            }
            a:hover {
                color: white;
            }
        }
        &__left {
            height: 500px; width: 75%;
            display: flex; justify-content: space-between; align-items: center;
            margin: 80px auto;
            color: white;
            &__text {
                height: 450px; width: 50%;
                font-family: 'Poppins serif';
                &__top {
                    height: 200px;
                    display: flex; flex-direction: column; justify-content: space-between;
                    .title {
                        font-size: 30px;
                    }
                    h2 {
                        font-size: 47px;
                    }
                }
                &__center {
                    height: 85px;
                    margin-top: 10px;
                    padding-top: 12px;
                    .num {
                        height: 22px;
                        width: 22px;
                        padding: 0px 20px 32px 10px;
                        font-size: 17px;
                        text-align: center;
                        margin-right: 12px;
                        display: inline-block;
                        background: #2d2d2d;
                        border-radius: 100%;
                        color: white;
                    }
                }
                &__btn {
                    margin-top: 50px;
                    .bluebtn {
                        background: #326cf9;
                        color: white;
                        padding: 20px 30px;
                        cursor: pointer;
                        border: none;
                        border-radius: 6px;
                        font-family: 'Poppins serif';
                    }
                    .graybtn{
                        color: #707070;
                        background: black;
                        padding: 20px 40px;
                        margin-left: 24px;
                        border: 1px solid #707070;
                        border-radius: 6px;
                        cursor: pointer;
                        font-family: 'Poppins serif';
                    }
                    a {
                        color: white;
                        text-decoration: none;
                    }
                    .gray {
                        color: #707070;
                    }
                    .gray:hover {
                        color: white;
                    }
                }
                .color {
                    color: #306EF7;
                }
            }
        }
        &__right {
            img {
                width: 600px;
            }
        }
    }
}
@media screen and (max-width: 1622px) {
    .thirdSection__content__right {
        img {
            width: 560px;
        }
    }
    .thirdSection__content__left__text__center {
        font-size: 16px;
    }
}
@media screen and (max-width: 1480px) {
    .thirdSection__content__left {
        flex-direction: column;
    }
    .thirdSection__content__left__text__top {
        text-align: center;
        line-height: 50px;
        h2 {
            line-height: 70px;
        }
    }
    .thirdSection__content__left__text__center {
        width: 570px;
        padding-left: 30px;
        p {
            line-height: 30px;
        }
    }
    .thirdSection__content__left__text__btn {
        text-align: center;
        margin-top: 50px;
    }
    .thirdSection {
        height: 136vh;
    }
    .thirdSection__content__right {
        margin-top: 70px;
    }
}
@media screen and (max-width: 1380px) {
    .thirdSection__content__left__text__center {
        width: 570px;
        margin-left: -40px;
    }
}
@media screen and (max-width: 1260px) {
    .thirdSection__content__left__text__center {
        margin-left: -60px;
    }
}
@media screen and (max-width: 1170px) {
    .thirdSection__content__left__text__center {
        margin-left: -70px;
    }
}
@media screen and (max-width: 970px) {
    .thirdSection__content__left__text__center {
        margin-left: -90px;
    }
}
@media screen and (max-width: 943px) {
    .thirdSection__content__left__text__btn {
        .bluebtn {
            background: #326cf9;
            color: white;
            padding: 17px 20px;
            cursor: pointer;
            border: none;
            border-radius: 6px;
        }
        .graybtn {
            background: #0e0e0e;
            color: #707070;
            padding: 17px 30px;
            margin-left: 24px;
            border: 1px solid #707070;
            border-radius: 6px;
            cursor: pointer;
        }
    }
    .thirdSection__content__left__text__top {
        .title {
            font-size: 20px;
        }
        h2 {
            font-size: 38px;
        }
    }
}
@media screen and (max-width: 836px) {
    .thirdSection__content__left__text__btn {
        .bluebtn {
            background: #326cf9;
            color: white;
            padding: 15px 17px;
            cursor: pointer;
            border: none;
            border-radius: 6px;
        }
        .graybtn {
            background: #0e0e0e;
            color: #707070;
            padding: 15px 27px;
            margin-left: 24px;
            border: 1px solid #707070;
            border-radius: 6px;
            cursor: pointer;
        }
    }
    .thirdSection__content__left__text__top {
        .title {
            font-size: 20px;
        }
        h2 {
            font-size: 38px;
        }
    }
}
@media screen and (max-width: 840px) {
    .thirdSection__content__left__text__center {
        margin-left: -110px;
    }
}
@media screen and (max-width: 803px) {
    .thirdSection__content__left__text__btn {
        width: 120%;
        margin-left: -30px;
    }
}
@media screen and (max-width: 761px) {
    .thirdSection__content__left__text__top {
        h2 {
            font-size: 33px;
        }
    }
    .thirdSection__content__left__text__center {
        margin-left: -130px;
    }
}
@media screen and (max-width: 672px) {
    .thirdSection__content__left__text__btn {
        width: 140%;
        margin-left: -30px;
    }
}
@media screen and (max-width: 666px) {
    .thirdSection__content__left__text__top {
        h2 {
            font-size: 30px;
        }
    }
}
@media screen and (max-width: 657px) {
    .thirdSection__content__left__text__center {
        max-width: 500px;
        font-size: 14px;
    }
    .thirdSection__content__right {
        margin-top: 100px;
    }
    .thirdSection__content__center {
        span {
            font-size: 20px;
        }
        h2 {
            font-size: 30px
        }
        p {
            font-size: 18px;
        }
    }
}
@media screen and (max-width: 604px) {
    .thirdSection__content__left__text__top {
        h2 {
            font-size: 27px; 
        }
    }
}
@media screen and (max-width: 593px) {
    .thirdSection__content__center {
        span {
            font-size: 18px;
        }
        h2 {
            font-size: 25px
        }
        p {
            font-size: 15px;
        }
        button {
            padding: 17px 20px;
        }
    }
}
@media screen and (max-width:586px) {
    .thirdSection__content__right {
        img {
            width: 460px;
        }
    }
}
@media screen and (max-width:578px) {
    .thirdSection__content__left__text__btn {
        width: 150%;
        margin-left: -40px;
    }
    .thirdSection__content__left__text__center {
        margin-left: -150px;
    }
}
@media screen and (max-width: 545px) {
    .thirdSection__content__left__text__top {
        .title {
            font-size: 18px;
        }
        h2 {
            font-size: 26px;
        }
    }
}
@media screen and (max-width: 541px) {
    .thirdSection__content__left__text__btn {
        width: 170%;
        margin-left: -80px;
    }
}
.share {
    &__content {
        height: 100vh; width: 100%;
        background: black;
        &__top {
            min-height: 200px; width: 35%;
            margin: auto;
            text-align: center;
            span {
                color: #3D82F2;
                font-size: 27px;
                font-family: 'Poppins serif';
            }
            h2 {
                color: white;
                font-size: 50px;
                font-family: 'Poppins serif';
            }
            p {
                color: #707070;
                font-family: 'Poppins serif';
                font-size: 20px;
            }
        }
        &__center {
            height: 500px; width: 1500px;
            margin: 100px auto;
            display: flex;
            &__left {
                height: 100%; width: 50%;
                background: #0D0D0D;
                overflow: hidden;
                position: relative;
                &__text {
                    height: 280px; width: 600px;
                    background: #0D0D0D;
                    padding-left: 30px;
                    padding-top: 20px;
                    span {
                        color: #0FC65C;
                        font-family: 'Poppins serif';
                        font-size: 25px;
                    }
                    h2 {
                        font-size: 70px;
                        font-family: 'Poppins serif';
                        color: white;
                        line-height: 80px;   
                    }
                    .graytext {
                        font-size: 70px;
                        color: #707070;
                        font-family: 'Poppins serif';
                        margin-top: 45px;
                    }
                    img {
                        height: 200px; width: 700px;
                        position: absolute;
                        left: 150px;
                        bottom: 0px;
                    }
                }
            }
        }
        &__right {
            height: 100%; width: 50%;
            background: #0D0D0D;
            margin-left: 15px;
            display: flex;
            align-items: center;
            &__text {
                height: 420px; width: 415px;
                padding-left: 30px;
                margin-top: -50px;
                span {
                    color: #0FC65C;
                    font-size: 25px;
                    font-family: 'Poppins serif';
                }
                .graytext {
                    font-size: 65px;
                    color: #707070;
                    font-family: 'Poppins serif';
                    margin-top: 50px;
                    line-height: 80px;
                }
                h3 {
                    font-size: 60px;
                    font-family: 'Poppins serif';
                    color: white; 
                }
            }
        }
        // .btn {
        //     text-align: center;
        //     margin-top: -80px;
        //     button {
        //         padding: 20px 55px;
        //         border-radius: 10px;
        //         background: #326cf9;
        //     }
        //     a {
        //         color: white;
        //         text-decoration: none;
        //         font-size: 17px;
        //     }
        // }
    }
}
.blackpink {
    &__content {
        height: 100vh; width: 100%;
        background: black;
        &__center {
            min-height: 200px; width: 50%;
            text-align: center;
            margin: auto;
            color: white;
            span {
                color: #3D82F2;
                font-size: 27px;
                font-family: 'Poppins serif';
            }
            h2 {
                color: white;
                font-size: 50px;
                font-family: 'Poppins serif';
            }
            p {
                color: #707070;
                font-family: 'Poppins serif';
                font-size: 20px;
            }
        }
        &__left {
            height: 500px; width: 75%;
            display: flex; justify-content: space-between; align-items: center;
            margin: 130px auto;
            color: white;
            &__text {
                height: 450px; width: 50%;
                font-family: 'Poppins serif';
                &__top {
                    height: 200px;
                    display: flex; flex-direction: column; justify-content: space-between;
                    .title {
                        font-size: 30px;
                    }
                    h2 {
                        font-size: 47px;
                    }
                    .color {
                        color: #326cf9;
                    }
                }
                &__center {
                    height: 85px;
                    margin-top: 10px;
                    padding-top: 12px;
                    .num {
                        height: 22px;
                        width: 22px;
                        padding: 0px 20px 32px 10px;
                        font-size: 17px;
                        text-align: center;
                        margin-right: 12px;
                        display: inline-block;
                        background: #2d2d2d;
                        border-radius: 100%;
                        color: white;
                    }
                }
                &__btn {
                    margin-top: 50px;
                    .bluebtn {
                        background: #326cf9;
                        color: white;
                        padding: 20px 30px;
                        cursor: pointer;
                        border: none;
                        border-radius: 6px;       
                        a {
                            text-decoration: none;
                            font-family: 'Poppins serif';
                            color: white;
                        }            
                    }
                    .graybtn {
                        background: #0e0e0e;
                        color: #707070;
                        padding: 20px 40px;
                        margin-left: 24px;
                        border: 1px solid #707070;
                        border-radius: 6px;
                        cursor: pointer;
                    }
                    .graybtn a {
                        text-decoration: none;
                        color: #707070;
                        font-family: 'Poppins serif';
                    }
                    .graybtn a:hover {
                        color: white;
                    }
                }
            }
        }
        &__right {
            img {
                width: 600px;
            }
        }
    }
}
.agree {
    &__content {
        height: 100vh; width: 100%;
        background: black;
        display: flex;
        justify-content: flex-start; align-items: center;
        flex-direction: column;
        &__text {
            height: 120px; width: 530px;
            text-align: center;
            padding-top: 50px;
            h2 {
                color: white;
                font-family: 'Poppins serif';
                font-size: 70px;
            }
        }
        &__center {
            height: 500px; width: 97%;
            margin-top: 100px;
            background-image: url('../assets/img/Image\ \(20\).png');
        }
    }
}
.helped {
    &__content {
        height: 100vh; width: 100%;
        background: black;
        background-image: url('../assets/img/Audience.png');
        background-repeat: no-repeat;
        background-position: center center;
    }
}
.last {
    &__content {
        height: 100vh; width: 100%;
        background: black;
        display: flex;
        justify-content: center;
        align-items: center;
        padding-top: 200px;
        &__center {
            height: 500px; width: 700px;
            margin-top: -150px;
            display: flex;
            flex-direction: column;
            justify-content: space-evenly;
            align-items: center;
            color: white;
            font-family: 'Poppins serif';
            h2 {
                font-size: 70px;
            }
            p {
                font-size: 32px;
            }
            button {
                padding: 25px 80px;
                background: #326cf9;
                border-radius: 18px;
                border: none;
                cursor: pointer;
                a {
                    color: white;
                    text-decoration: none;
                    font-family: 'Poppins serif';
                    font-size: 15px;
                }
            }
            &__end {
                display: flex;
                justify-content: center;
                span {
                    font-size: 22px;
                }
            }
        }
    }
}
.footer {
    &__div {
        height: 100px; width: 100%;
        background: black;
        display: flex;
        &__content {
            height: 100px; width: 90%;
            margin: auto;
            display: flex;
            justify-content: space-between;
            &__logo {
                height: 100px; width: 250px;
                display: flex;
                flex-wrap: wrap;
                img {
                    height: 40px; width: 40px;
                    margin-top: 6px;
                }
                a {
                    text-decoration: none;
                    font-size: 40px;
                    color: white;
                    font-family: 'Poppins serif';
                    padding-left: 10px;
                }
                a:hover {
                    color: #306EF7;
                }
                p {
                    color: #707070;
                    font-size: 21px;
                    font-family: 'Poppins serif';
                }
            }
            &__option {
                height: 100px; width: 500px;
                display: flex;
                justify-content: center;
                align-items: center;
                &__links {
                    height: 40px; width: 550px;
                    display: flex;
                    justify-content: space-around;
                    align-items: center;
                    a {
                        font-size: 20px;
                        color: #707070;
                        text-decoration: none;
                        font-family: 'Poppins serif';
                    }
                    .links:hover {
                        color: #326cf9;
                    }
                }
            }
        }
    }
}
.signbody {
    margin-top: -18px;
}
.signpage {
    &__paragraph {
        height: 91.7vh; width: 100%;
        background: black;
        display: flex;
        justify-content: space-evenly;
        align-items: center;
        flex-direction: column;
        &__text {
            text-align: center;
            color: white;
            h2 {
                font-family: 'Poppins serif';
                font-size: 70px;
            }
            p {
                font-family: 'Poppins serif';
                font-size: 25px;
            }
        }
        &__input {
            height: 270px; width: 850px;
            // background: green;
            input {
                background: transparent;
                padding: 15px 65px;
                border: none;
                border-bottom: 1px solid white;
                font-family: 'Poppins serif';
                margin-left: 60px;
                padding-top: 60px;
            }
            .inputbtn {
                background: #326cf9;
                color: white;
                border: none;
                padding: 15px 130px;
                border-radius: 16px;
                font-size: 18px;
            }
            .btncenter {
                background: #326cf9;
                color: white;
                border: none;
                padding: 15px 130px;
                border-radius: 16px;
                font-size: 18px;
                transform: translateX(200px) translateY(70px);
            }
            input::placeholder {
                color: white;
                display: block;
            }
            input:focus {
                background: white;
                padding: 14px 65px;
                margin-top: 46px;
            }
        }
        p {
            color: white;
            font-family: 'Poppins serif';
            margin-top: 10px;
        }
        &__with {
            text-align: center;
            h2 {
                color: white;
                font-family: 'Poppins serif';
                font-size: 45px;
            }
            p {
                color: white;
                font-family: 'Poppins serif';
                font-size: 25px;
            }
        }
        &__socialmedia {
            width: 90%;
            display: flex;
            justify-content: space-around;
            &__soc {
                height: 75px; width: 455px;
                display: flex;
                justify-content: center;
                align-items: center;
                border-radius: 16px;
                border: 1px solid white;
                img {
                    height: 35px;
                    margin-top: -5px;
                }
                span {
                    color: white;
                    font-family: 'Poppins serif';
                    font-size: 20px;
                    margin-left: 10px;
                }
            }
        }
    }
}
.choose {
    &__wrapper {
        height: 91.7vh;  width: 100%;
        background: black;
        h2 {
            color: white;
            font-family: 'Poppins serif';
            font-size: 40px;
            padding-top: 50px;
            text-align: center;
        }
        &__block {
            height: 620px; width: 65%;
            margin: 80px auto;
            display: flex;
            justify-content: space-between;
            &__card {
                height: 100%; width: 330px;
                border-radius: 16px;
                background: #131313;
                h3 {
                    color: white;
                    font-family: 'Poppins serif';
                    font-size: 30px;
                    padding: 10px 20px;
                }
                p {
                    color: #707070;
                    font-family: 'Poppins serif';
                    font-size: 17px;
                    padding-left: 20px;
                    margin-top: -10px;
                }
                h4 {
                    color: white;
                    font-family: 'Poppins serif';
                    font-size: 30px;
                    padding: 20px 20px;
                }
                h5 {
                    color: white;
                    font-size: 17px;
                    font-family: 'Poppins serif';
                    padding: 30px 20px;
                }
                h6 {
                    color: white;
                    font-size: 17px;
                    font-family: 'Poppins serif';
                    padding: 30px 20px;
                }
                button {
                    color: white;
                    background: transparent;
                    padding: 20px 50px;
                    border-radius: 10px;
                    border: 3px solid #4681E7;
                    font-family: 'Poppins serif';
                    display: block;
                    margin: 40px auto;
                }
                .line {
                    text-decoration: underline solid;
                }
                .top {
                    margin-top: 12px;
                }
                .white {
                    color: white;
                    font-size: 16px;
                    margin-top: -15px;
                }
                .small {
                    font-size: 15px;
                    padding-top: 30px;
                }
                .lasttext {
                    font-size: 15px;
                    color: white;
                    line-height: 45px;
                }
                .whitebtn {
                    background: white;
                    color: #306EF7;
                }
                .long {
                    padding: 20px 80px;
                }
            }
            &__card:nth-child(3) {
                background: #3C82F4;
                p {
                    color: white;
                }
            }
        }
    }
}